
[package]
name = "core"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.100"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[lib]
name = "core"
path = "src/lib.rs"
